{% extends 'base.html.twig' %}
{% block body %}
    <h1>{{ book.id ? 'Modifier' : 'Créer' }} un livre</h1>
    {{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.author) }}
    {{ form_row(form.description) }}
    {{ form_row(form.genre) }}
    {{ form_row(form.coverImage) }}

    <button class="btn btn-primary">Enregistrer</button>
    {{ form_end(form) }}

    <script>
        const input = document.querySelector('input[type=file]');
        if (input) {
            input.addEventListener('change', (e) => {
                const file = e.target.files[0];
                if (!file) return;
                const img = document.createElement('img');
                img.style.maxWidth = '200px';
                img.src = URL.createObjectURL(file);
                input.parentNode.appendChild(img);
            });
        }
    </script>
{% endblock %}
