<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="{{ path('book_index') }}">Books</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMain">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navMain">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="{{ path('book_index') }}">Tous les livres</a></li>
                {% if is_granted('ROLE_USER') %}
                    <li class="nav-item"><a class="nav-link" href="{{ path('book_my_books') }}">Mes livres</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ path('book_new') }}">Ajouter</a></li>
                {% endif %}
            </ul>
            <ul class="navbar-nav">
                {% if app.user %}
                    <li class="nav-item"><a class="nav-link" href="#">{{ app.user.username }}</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ path('app_logout') }}">Logout</a></li>
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="{{ path('app_login') }}">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
