{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-md-4">
            {% if book.coverImage %}
                <img src="/uploads/covers/{{ book.coverImage }}" class="img-fluid" alt="cover">
            {% endif %}
        </div>
        <div class="col-md-8">
            <h1>{{ book.title }}</h1>
            <p><strong>Auteur :</strong> {{ book.author }}</p>
            <p><strong>Genre :</strong> {{ book.getGenre() }}</p>
            <p>{{ book.description }}</p>

            {% if is_granted('ROLE_ADMIN') or book.user == app.user %}
                <a class="btn btn-secondary" href="{{ path('book_edit', {'id': book.id}) }}">Modifier</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
